@keyframes sparkleAnimation {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0);
  }
}

.sparkle {
  animation: sparkleAnimation 0.5s linear;
}